@import url('https://fonts.googleapis.com/css?family=Inter');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

#app {
  font-family: 'Inter', sans-serif;
}
